<%- include("header.ejs") %>
    <!-- Check if the variable city exists -->
    <!-- If they do, then replace the placeholder in the search bar -->
    <% let placeHolder = (locals.city) ? city : "search..." %>

    <form action="/weather" method="get" id="searchbar">
        <input id="place" name="place" type="text" id="searchbar" placeholder=<%- placeHolder %>>
    </form>
    <!-- Check if the variable days exist -->
    <!-- If they do, then display the data -->
    <% if (locals.days) { %>

        <div class="allDays">

        
        <!-- This code runs through every single day -->
            <% for (var i = 0; i <= days.length - 1; i++) {%> 
                
                <!-- Just another day -->
                <div class="day shadow" onclick="this.classList.toggle('expanded')">
                    <!-- Helper variables, like averages -->
                    <!-- Temperatures -->
                        <% let temperatureArray = days[i].map(a => a.main.temp); %>
                        <% let aveTemp = Math.round((temperatureArray.reduce((a, b) => a + b) / (temperatureArray.length))) %>
                        <% let highTemp = Math.round(Math.max(...temperatureArray) * 10)/10;%>
                        <% let lowTemp = Math.round(Math.min(...temperatureArray)*10)/10 %>

                    <!-- Precipitation -->
                        <% let precArr = days[i].map(a => a.pop); %>
                        <% let avePrec = Math.round((precArr.reduce((a, b) => a+b) / (precArr.length)) * 100) / 100 %>

                    <!-- Wind -->
                        <% let windArr = days[i].map(a => a.wind); %>
                        <% let windVelocities = windArr.map(a => a.speed); %>
                        <% let aveWindVelocity = Math.round((windVelocities.reduce((a, b) => a+b)) / (windVelocities.length))  %>

                    <!-- The top most information, shown always -->
                    <div class="top">

                        <!-- The icon -->
                        <div class="icon">
                            <img src="<%- `./icons/${(days[i][0].weather[0].icon).slice(0, -1)}d.png` %>" alt="<%- days[i][0].weather[0].description %>">
                        </div>

                        <!-- Small info - Day, date, weather condition -->
                        <div class="smallinfo">
                            <!-- Helper variables for date display -->
                                <% const theDate = new Date(days[i][0].dt_txt) %>

                                <% const dayNames = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"] %>
                                <% let thisDay = "" %>
                                <% if (i===0) {thisDay = "Today"} else if (i===1) {thisDay = "Tomorrow"} else {thisDay = dayNames[theDate.getDay()]} %>

                                <% const monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sept", "Oct", "Nov", "Dec"] %>
                                <% const thisMonth = monthNames[theDate.getMonth()]%>
                            
                            <!-- The actual info -->
                            <h2><%- thisDay %></h2>
                            <p><b><%- days[i][0].dt_txt.split("-")[2].split(" ")[0] %> <%- thisMonth %></b></p>
                            <p><b><%- days[i][0].weather[0].main %></b></p>
                        </div>


                        <!-- The average temparature -->
                        <div class="aveTemp">
                            <%- Math.round(highTemp) %> °C
                        </div>

                        <!-- This is the close button for when expanded -->
                        <!-- <div class="hide">
                            <b>X</b>
                        </div> -->

                    </div>

                    <!-- Bottom layer, hidden until hovered -->
                    <div class="bottom">
                        
                        <div class="row">
                            <div class="icon">
                                <img src="./icons/perc.png" alt="precipitation icon" />
                            </div>
                            <h1>
                                <%- avePrec %>%
                            </h1>
                        </div>

                        <div class="row">
                            <div class="icon">
                                <img src="./icons/wnd.png" alt="wind icon"/>
                            </div>
                            <h1>
                                <%- aveWindVelocity %> m/s
                            </h1>
                        </div>

                        <div class="column bluebold">
                            <h1>
                                H: <b><%- highTemp %></b>
                            </h1>
                            <h1>
                                L: <b><%- lowTemp %></b>
                            </h1>
                        </div>
                        

                    </div>

                    

                </div>

            <% } %>


        </div>

    <%} else if (locals.error) { %> <!-- If the variable days doesn't exist, then throw the error -->

        <div class="nodata">
            <h1>There was <b>an error</b> getting your data</h1>
            <h1><b>Please,</b> try again</h1>
        </div>

    <% } else { %>    <!-- Otherwise display the input text -->

        <div class="nodata">
            <h1>Welcome to WEWE, or the <b>Weather Website</b></h1>
            <h1>Either <b>enable your location</b> or put in the desired place to get the weather.</h1>
        </div>

    <% } %>
    
    <% if (locals.runScript) { %>
        <script src="<%- runScript %>"></script>
    <% } %>
</body>
</html>